<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030019414632-07ocb2q28lobnldromp249sjoj8a659e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030019414632-07ocb2q28lobnldromp249sjoj8a659e</string>
	<key>API_KEY</key>
	<string>AIzaSyDUpfpGUq5PzhNgnYh0m1BjIQTCUaRRo5o</string>
	<key>GCM_SENDER_ID</key>
	<string>1030019414632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduVista</string>
	<key>PROJECT_ID</key>
	<string>edu-vista-d9ff0</string>
	<key>STORAGE_BUCKET</key>
	<string>edu-vista-d9ff0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030019414632:ios:ef06475f2e4d54b14799dd</string>
</dict>
</plist>